const places = [
  {
    emoji: '🇺🇸',
    name: 'Chicago',
    timezone: 'America/Chicago',
  },
  {
    emoji: '🇺🇸',
    name: 'New York',
    timezone: 'America/New_York',
  },
  {
    emoji: '🇬🇧',
    name: 'London',
    timezone: 'Europe/London',
  },
  {
    emoji: '🇰🇷',
    name: 'Seoul',
    timezone: 'Asia/Seoul',
  },
  {
    emoji: '🇦🇺',
    name: 'Canberra',
    timezone: 'Australia/Canberra',
  },
];

module.exports = places;
