const places = [
  {
    emoji: '🇺🇸',
    name: 'Chicago',
    utcDifference: -10,
  },
  {
    emoji: '🇺🇸',
    name: 'New York',
    utcDifference: -5,
  },
  {
    emoji: '🇬🇧',
    name: 'London',
    utcDifference: 0,
  },
  {
    emoji: '🇰🇷',
    name: 'Seoul',
    utcDifference: 9,
  },
  {
    emoji: '🇦🇺',
    name: 'Canberra',
    utcDifference: 11,
  },
];

module.exports = places;
